[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.2
